{% extends app.runvars.layout %}
{% set active = 'homepage' %}

{% block content %}

    <h1>Hello</h1>
    {% if is_granted('ROLE_USER') %}
        Hello "{{ app.security.token.username }}".<br />
        <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
        {% include "snips/post.new.snip.twig" %}
    {% else %}
        {# You are not logged in. Please <a href="{{ path('login') }}">{{ 'connect'|trans }}</a> #}
    {% endif %}
		{% for post in app.blog.lastfive %}
            {% include "snips/post1.snip.twig" %}
        {% endfor %}
{% endblock %}
